body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.event-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* Makes the card clickable */
}

.event-card:hover {
  transform: translateY(-10px); /* Lifts the card slightly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  background-color: #f8f9fa; /* Changes the background color */
}

.overlay {
  position: fixed;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.75); 
  z-index: 2; 
}

.transform-component-module_wrapper__SPB86{
  width: auto !important;
  height: auto !important;
}
