body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item-nav{
  text-decoration: none;
  color: gray;
  font-size: clamp(17px,2.25vw, 22px);
}

.item-nav:hover{
 background-color: white;
  color: #5c5c5c;
  text-decoration: none;
  cursor: pointer;
}

.item-current {
  color: #474747;
}

.event-card {
  cursor: pointer; /* Makes the card clickable */
  text-decoration: none;
  color: inherit;
  background-color: black;
}

.event-card:hover {
  text-decoration: none;
  z-index: 2;
}

.overlay {
  position: fixed;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.75); 
  z-index: 3;
}

